.chat-bubble {
background-color:pink;
border-radius:10px;
margin:10px auto;
max-width:100%;
padding:10px;
text-align:center;
}	
.ram {
background-color:blue;
border-radius:10px;
margin:10px auto;
width:100%;
padding:10px;
text-align:center;
bottom:0;
position:fixed;
} 
main{

padding:15%;
color:blue;
background-color:green;

}
h1 {
animation-name:blink;
animation-duration:1s;
amimation-iteration-count:infinite;
}
@keyframes blink {
0%{
color:red;
}
50%{
color:blue;
}
100%{
color:yellow;
}
}